@import "imports";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: dp(12) dp(12) 0;
  user-select: none;
}

.appname {
  font-size: dp(48);
  font-weight: 500;
  font-family: 'Fredericka the Great', cursive;
}
