:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 1rem;
}

.appname {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Fredericka the Great", cursive;
}
