@import "imports";

:host {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: dp(12) dp(6);
}

.button-group {
  display: flex;
  justify-content: center;
}

.copy,
.share,
.clear {
  flex: 1;
  margin: 0 dp(6);
  background-color: $text-color;
  padding: 0 dp(6);
  text-transform: uppercase;
}

.share {
  &.busy {
    .material-icons {
      animation: rotate 1s linear infinite;
    }
  }
}

.clear {
  color: white;
  background-color: $primary-color;
}

.material-icons {
  margin-right: dp(8);
}
