:host {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: .5rem;
}

.button-group {
  display: flex;
}

.copy,
.share,
.clear {
  flex: 1;
  height: 2.75rem;
  color: white;
  outline: none;
  border: none;
  background-color: black;
  cursor: pointer;
  padding: 0.5rem;
  text-transform: uppercase;
  margin: .5rem;
}

.clear {
  color: white;
  background-color: crimson;
}

textarea {
  position: fixed;
  left: -100vw;
  top: 0;
}
