<button type="button" class="clear" (click)="clear()">
  <i class="material-icons">delete_outline</i>
  <ng-container *ngIf="songs | async as songs">
    <span *ngIf="!songs.length">Clear</span>
    <span *ngIf="songs.length">( {{ songs.length }} )</span>
  </ng-container>
</button>

<div class="button-group">
  <button type="button" class="share" (click)="share()" *ngIf="isShareSupported">
    <i class="material-icons">share</i>Share
  </button>
  <button type="button" class="copy" (click)="copy()" *ngIf="isCopySupported">
    <i class="material-icons">file_copy</i>Copy
  </button>
</div>

<textarea tabindex="-1" #textareaElement></textarea>
