<ng-container *ngIf="songs | async as songs">

  <div class="button --filled clear" (click)="clear()">
    <i class="material-icons">delete_outline</i>
    <span *ngIf="!songs.length">Clear</span>
    <span *ngIf="songs.length">( {{ songs.length }} )</span>
  </div>

  <div class="button-group">
    <div
      *ngIf="isShareSupported"
      class="button --filled share"
      [class.busy]="sharing | async"
      (click)="share()"
    >
      <i class="material-icons">share</i>Share
    </div>
    <div
      *ngIf="isCopySupported"
      class="button --filled copy"
      (click)="copy()"
    >
      <i class="material-icons">filter_none</i>Copy
    </div>
  </div>

</ng-container>
