<ng-container *ngIf="songs | async as songs">

  <button type="button" class="clear" (click)="clear()" [class.disabled]="!songs.length">
    <i class="material-icons">delete_outline</i>
    <span *ngIf="!songs.length">Clear</span>
    <span *ngIf="songs.length">( {{ songs.length }} )</span>
  </button>

  <div class="button-group">
    <button
      *ngIf="isShareSupported"
      type="button"
      class="share"
      [class.disabled]="!songs.length"
      [class.busy]="sharing | async"
      (click)="share()"
    >
      <i class="material-icons">share</i>Share
    </button>
    <button
      *ngIf="isCopySupported"
      type="button"
      class="copy"
      [class.disabled]="!songs.length"
      (click)="copy()"
    >
      <i class="material-icons">filter_none</i>Copy
    </button>
  </div>

</ng-container>

<textarea tabindex="-1" #textareaElement></textarea>
