<div class="appname">ShareMe</div>
<div class="authors">by M. J. Normann and A. Schilling</div>

<input type="text" placeholder="Liednummer" [formControl]="input" (keydown.enter)="onKeydownEnter()" #inputElement>

<div class="songs">
  <div class="song" *ngFor="let song of songList; index as i">
    <div class="name">{{ song.index }} – {{ song.name }}</div>
    <button class="remove" (click)="remove(i)">x</button>
  </div>
</div>

<button type="button" class="copy" (click)="copy()">Copy</button>
