@import "imports";

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background: white;
  box-shadow: 0 4px 12px 2px $shadow-color;
  animation: fade-in 0.6s ease-out;
}

app-header {
  display: none;
}

@media (min-width: dp(600)) and (min-height: dp(600)) {
  :host {
    width: 30rem;
    height: (30rem * 16/9);
    padding: dp(16);
  }
  app-header {
    display: flex;
  }
}
