@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
  width: 30rem;
  height: 54rem;
  max-width: 100vw;
  max-height: 100vh;
}
