<ng-container *ngIf="favorites | async as favorites">
<ng-container *ngIf="songs | async as songs">

<div dragula="SONGS" [dragulaModel]="songs" (dragulaModelChange)="updateOrder($event)">
  <div class="gu song" *ngFor="let song of songs; index as i">
    <div class="button remove" (click)="remove(i)">
      <i class="material-icons">clear</i>
    </div>
    <div class="name">
      <span *ngIf="!song.ccli">
        {{ song.book }} {{ song.number }} – {{ song.name }}
      </span>
      <a *ngIf="song.ccli" [attr.href]="'https://songselect.ccli.com/Songs/'+song.ccli" target="_blank" rel="noopener">
        {{ song.book }} {{ song.number }} – {{ song.name }}
      </a>
    </div>
    <div class="button favorite" (click)="favorite(song)">
      <i *ngIf="!favorites[song.fulltextSearch]" class="material-icons">favorite_outline</i>
      <i *ngIf="favorites[song.fulltextSearch]" class="material-icons">favorite</i>
    </div>
  </div>
</div>

</ng-container>
</ng-container>
