:host {
  flex: 1;
  margin: 1rem 1rem 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.song {
  display: flex;
  align-items: center;
  min-height: 2.25rem;
}

.name {
  flex: 1;
}

.remove {
  width: 1.75rem;
  height: 1.75rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  color: white;
  background-color: crimson;
}

.favorite {
  box-align: center;
  box-shadow: 0 1px 2px #eee;
  margin-left: 1rem;
  color: crimson;
  background-color: transparent;
  
  &:active {
    background-color: pink;
  }
}
