@import "imports";

:host {
  flex: 1;
  padding: 0 dp(20);
  overflow-x: hidden;
  overflow-y: auto;
}

.song {
  display: flex;
  align-items: center;
  min-height: dp(40);
}

.name {
  flex: 1;
}

.remove,
.favorite {
  width: dp(24);
  height: dp(24);
  border: none;
}

.remove {
  margin-right: dp(12);
  color: white;
  background-color: $primary-color;
}

.favorite {
  margin-left: dp(12);
  color: $primary-color;
  background-color: transparent;
  box-shadow: none;
  filter: $drop-shadow;
  transform: scale(1.2);
}





