<ng-container *ngIf="favorites | async as favs">
  <div class="song" *ngFor="let song of songs | async; index as i">
    <div class="button remove" (click)="remove(i)">
      <i class="material-icons">clear</i>
    </div>
    <div class="name">{{ song.book }} {{ song.number }} – {{ song.name }}</div>
    <div class="button favorite" (click)="favorite(song)">
      <i *ngIf="!favs[song.fulltextSearch]" class="material-icons">favorite_outline</i>
      <i *ngIf="favs[song.fulltextSearch]" class="material-icons">favorite</i>
    </div>
  </div>
</ng-container>
