:host {
  flex: 1;
  margin: 1rem 1rem 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.song {
  display: flex;
  align-items: center;
  min-height: 2.25rem;
  font-weight: 700;
}

.name {
  flex: 1;
}

.remove {
  width: 1.75rem;
  height: 1.75rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  color: white;
  background-color: crimson;

  &:active {
    background-color: pink;
  }
}
