:host {
  display: block;
  width: 100%;
  border: solid #eee;
  border-width: 0 1px 1px 1px;
  background: white;
  position: relative;
  z-index: 1;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.suggestion {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 2.5rem;
  padding: 0 0.5rem;
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid #eee;
  transition: none;
  font-family: "Cabin Sketch", cursive;

  &:hover {
    background: black;
    color: white;
  }
}
