@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-down {
  from {
    transform: translateY(dp(-12));
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
