/* You can add global styles to this file, and also import other style files */

@import "~normalize-scss/sass/normalize/import-now";
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great:400");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import "imports";
@import "keyframes";

* {
  box-sizing: border-box;
}

html,
body,
.input,
.button {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: dp(16);
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  height: 100%;
  background: $theme-color;
}

.input,
.button {
  border-radius: $border-radius;
  transition: ease-out 0.15s;
  position: relative;
  outline: none;
}

.input {
  height: dp(56);
  font-size: dp(18);
  transition: 0.15s ease-out;
  border: 2px solid $text-color;
  &::-webkit-input-placeholder {
    user-select: none;
  }

  &:focus {
    border-color: $primary-color;
  }
}

.button {
  font-family: "Fredericka the Great", cursive;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 1px 4px $shadow-color;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:active {
    opacity: 0.33;
  }

  &.--filled {
    height: dp(40);
    padding: 0 dp(16);
    color: white;
    border: none;
  }
}
