/* You can add global styles to this file, and also import other style files */

@import "~normalize-scss/sass/normalize/import-now";
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html,
body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Cabin Sketch", cursive;
  font-weight: 400;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

button {
  font-family: "Fredericka the Great", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: ease-out .2s;
  position: relative;
 
  &::after {
    opacity: 0;
    transition: ease-out .2s;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    $bop: .5;
    background-image: repeating-linear-gradient(100deg, 
    rgba(#ccc,$bop), 
    rgba(#ccc,$bop) 30px, 
    rgba(#dbdbdb,$bop) 30px, 
    rgba(#dbdbdb,$bop) 60px);
  }
  
  &.disabled {
    pointer-events: none;
    
    &::after {
      opacity: 1;
    }
  }

  .material-icons {
    margin-right: 0.25em;
  }
}

