@import "imports";

:host {
  position: relative;
  margin: dp(12);
}

input {
  width: 100%;
}

.clear {
  width: dp(56);
  height: dp(56);
  border: 0;
  outline: 0;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: none;
  filter: $drop-shadow;

  &:hover {
    color: $primary-color;
  }
}
