<input
  type="text"
  class="input"
  spellcheck="false"
  autocorrect="off"
  autocomplete="off"
  autocapitalize="off"
  placeholder="Liednummer (z.B. b137 / g10 / p2)"
  (keydown.enter)="addSong(suggestions[highlightedSuggestion])"
  (keydown.arrowup)="highlightSuggestion(highlightedSuggestion - 1); $event.preventDefault()"
  (keydown.arrowdown)="highlightSuggestion(highlightedSuggestion + 1); $event.preventDefault()"
  (focus)="editing = true"
  (blur)="editing = false"
  [formControl]="input"
  #inputElement
>

<ng-container *ngIf="suggestionChanges | async as suggestions">
<ng-container *ngIf="favoriteChanges | async as favorites">

<div
  *ngIf="inputElement.value"
  class="button clear"
  (click)="clear()"
>
  <i class="material-icons">clear</i>
</div>

<div class="suggestions" *ngIf="editing && suggestions.length > 0">
  <div
    *ngFor="let song of suggestions; index as i; trackBy: trackSuggestion"
    class="suggestion"
    [class.highlighted]="highlightedSuggestion === i"
    [class.favorite]="favorites[song.fulltextSearch]"
    (mousedown)="addSong(song)"
  >
    {{ song.book }} {{ song.number }} – {{ song.name }}
  </div>
</div>

</ng-container>
</ng-container>
