:host {
  display: flex;
  position: relative;
  margin: 0 1rem;
}

input {
  flex: 1;
  height: 3.0rem;
  padding: 0 0.5rem;
  font-size: 1rem;
  outline: none;
  transition: 0.15s ease-out;
  text-transform: uppercase;

  &:focus {
    border: 2px solid crimson;
  }
}

app-suggestions {
  position: absolute;
  top: 100%;
}
